.login {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
	align-items: center;
	font-size:2.1ex;
	text-transform: uppercase;
}

button {
	text-transform: uppercase;
}

.beforeButton {
  padding-right: 1ex;
}

.afterButton {
  padding-left: 1ex;
}