mat-paginator {
  height: 56px;
  width: 100%;
  margin: 0;
  border-top: 2px solid black;
  border-bottom: 2px solid black;
}

.game-grid {
  height: calc(100% - 120px);
  width: 100%;
  overflow-y: auto;
  padding: 0;
  border: 0;
  margin: 0;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.game-slot {
	min-height: 320px;
	height: calc((100% - 14vh) / 3);
	min-width: 217.5px;
	padding: 0;
	border: 0;
	margin: 0;
	display: flex;
	justify-content: center;
	align-items: center;
	flex: 0 1 33.33%;
}

.game-slot-spacer {
  height: 90%;
  width: 90%;
}

.game-card {
	height: 100%;
	width: 100%;
	border: 0;
	padding: 0;
	margin: 0;
	display: flex;
	flex-direction: column;
	justify-content: space-around;
}
  
.join-button {
	display: block;
	width: 30%;
}
  
.join-actions {
	display: flex;
	justify-content: space-between;
}
  
.mdc-button {
	width: 49%;
	min-width: 90px;
	height: 55px;
}

@media (max-width: 567px) {
  .game-grid {
    height: calc(100% - 120px + 8px);
  }
  .game-slot {
    flex-basis: 50%;
  }
  @media (max-width: 453px) {
    .game-grid {
	  height: calc(100% - 128px);
	}
	@media (max-width: 433px) {
      mat-paginator {
	    height: 93px;
      }
	  .game-grid {
		height: calc(100% - 186px + 8px);
	  }
	  @media (max-width: 323px) {
		.game-grid {
		  height: calc(100% - 208px + 8px);
		}
	    @media (max-width: 311px) {
	  	  .game-slot {
	  	    flex-basis: 100%;
	  	  }
		  @media (max-width: 273px) {
		    .game-grid {
		      height: calc(100% - 222px + 8px);
		    }
			@media (max-width: 255px) {
			  .game-grid {
			    height: calc(100% - 250px + 8px);
			  }
	          @media (max-width: 212px) {
	  	        mat-paginator {
	  	          height: 99px;
	  	        }
	  	        .game-grid {
	  		      height: calc(100% - 264px + 8px);
	  	        }
	  	        @media (max-width: 205px) {
	  	          mat-paginator {
	  	            height: 111px;
	  	          }
	  		      .game-grid {
	  		  	    height: calc(100% - 276px + 8px);
	  	          }
	            }
	          }
			}
	      }
	    }
      }
    }
  }
}