
.avatar {
  overflow: hidden;
  border-radius: 50%;
  display: flex;
  align-items: center;
  text-align: center;
  padding: 0;
}

.avatar__image {
  height: 100%;
  width: 100%;
}

.avatar_container {
  position:relative;
  display:inline-block;
}

.avatar-status-offline, .avatar-status-online, .avatar-status-ingame {
  width:17px;
  height:17px;
  position:absolute;
  bottom:2%;
  right:2%;
  border-radius:100%;
  z-index: 150;
}

.avatar-status-offline {
  background:#CC4400;
}

.avatar-status-online {
  background:#99CC00;
}

.avatar-status-ingame {
  background:#0055DD;
}
