.page-wrapper
{
 overflow : hidden;
 justify-content: center;
}

.mat-dialog-container {
  overflow-x: hidden;
}

mat-form-field {
  width:100%;
}

.joinwindow{
  width:100%;
}
@media (max-width:292px)
{
  mat-label
  {
    font-size:1ex;
  }
  .dialog-title
  {
    font-size:2.1ex;

  }
  mat-form-field
  {
    width:75%;
  }
}
