<div class="page-wrapper">
  <h1 mat-dialog-title class="dialog-title">
    Enter Password For {{ data.name }}
  </h1>
  <mat-dialog-content class="joinwindow">
    <form [formGroup]="joinpassword" (ngSubmit)="_return()">
      <mat-form-field appearance="fill">
        <mat-label>Password</mat-label>
        <input matInput type="password" formControlName="password" />
      </mat-form-field>
      <div mat-dialog-actions>
        <button mat-raised-button type="button" (click)="onNoClick()">Come back</button>
        <button mat-raised-button type="submit" color="primary">Submit</button>
      </div>
    </form>
  </mat-dialog-content>
</div>
