PGDATA=
POSTGRES_USER=
POSTGRES_PASSWORD=
POSTGRES_DB=

POSTGRES_HOST=
POSTGRES_PORT=

HOST=${POST}.42nice.fr

NEST_PORT=
NEST_URI=${HOST}:${NEST_PORT}

FRONT_PORT=
FRONT_URI=${HOST}:${FRONT_PORT}

API42_UID=
API42_SEC=
API42_AUTHORIZATION_URL=https://api.intra.42.fr/oauth/authorize?
API42_CALLBACK_URL=http://${FRONT_URI}/api/auth/login
API42_TOKEN_URL=https://api.intra.42.fr/oauth/token

NEST_JWT_SECRET=
NEST_JWT_EXPIRES_IN=24h

DATABASE_URL=postgresql://${POSTGRES_USER}:${POSTGRES_PASSWORD}@${POSTGRES_HOST}:${POSTGRES_PORT}/${POSTGRES_DB}?schema=public
